<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Hello, world!</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="text-center m-3"><br>Notes</h1>
        <button type="button" class="btn btn-secondary m-4"><a style="color:white; text-decoration: none;"
            href="http://localhost:8000/admin/Notes/note/add/">Add Notes</a></button>
        <table class="table m-1 table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">Notes Id</th>
              <th scope="col">Notes Name</th>
              <th scope="col">PDF</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>

            {% for d in notes %}
            <tr>
              <th scope="row">{{d.id}}</th>
              <td>{{d.title}}</td>
              <td><button type="button" class="btn btn-info"><a style="color:white; text-decoration: none; "
                    href="{{d.pdf.url}}">View Notes</a></td>
              <td><button type="button" class="btn btn-info"><a style="color:black; text-decoration: none; "
                    href="http://localhost:8000/admin/Notes/note/{{d.id}}/change/">Modify</a></button> <button
                  type="button" class="btn btn-info"><a style="color:black; text-decoration: none;"
                    href="http://localhost:8000/Notes/delete/{{d.id}}/"> Delete</a></button></td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>