<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/Contact Us.css' %}">
</head>

<body>
    <section class="contact">
        <div class="content">
            <h2>Contact Us</h2><br>
            <p>Can Contact Us For any suggestions & Any Help</p>
        </div>
        <div class="container">
            <div class="contactInfo">
                <div class="box">
                    <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>Rajkamal Chauk, Near HVPM<br>Amravati 444110</p>
                    </div>
                </div>


                <div class="box">
                    <div class="icon"><i class="fa fa-phone-square" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Phone </h3>
                        <p>53585-55672</p>
                    </div>
                </div>

                <div class="box">
                    <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>Collegespace@gmail.com</p>
                    </div>

                </div>
            </div>
            <div class="contactForm">
                <form action="http://localhost:8000/Contact/Mail/" method="post">
                    {% csrf_token %}
                    {% if msg_name %}
                        <center>
                            <h3>Thanks {{msg_name}}!</h3>
                            <p>We received your email and will respond shortly...</p>
                        </center>
                    {% endif %}
                    <h2>Send Message</h2>
                    <div class="inputBox">
                        <input type="text" name="name" required="required">
                        <span>Full Name</span>
                    </div>
                    <div class="inputBox">
                         <input type="email" name="email" required="required">
                         <span>Email</span>
                    </div>

                    <div class="inputBox">
                         <input type="text" name="message" required="required">
                         <span>Type Your Message...</span>
                     </div>

                     <div class="inputBox">
                         <input type="submit"  value="send">
                     </div>
                </form>
        </div>
        </div>
    </section>
</body>

</html>